{% extends 'base.html.twig' %}

{% block main -%}
    <div class="row">
        {%- for product in products -%}
            <div class="col-md-4">

                <h3>{{ product.title }}</h3>
                <p>
                    {{ 'price'|trans }}: {{ product.price }} €
                </p>
                <p>
                    {{ product.description|raw }}
                </p>
            </div>
        {%- endfor -%}
    </div>
{%- endblock %}
